  body{
    border: 1px solid gray;
  }
  .debug .container{
  background-color: #ffc0cb;
  height: 200px;
  border: none;
}
.container > [class*="col-"]{
  border: 1px solid black;
  padding: 5px 5px;
  height: 200px;
}
p{
  text-align: center;
  margin: 90px 0;
}
.col-6 > [class*="col-"] {
  border: 1px solid #fff;
  background-color: #F07F80;
  height: calc( 100% - 5px);
  position:relative;
}
